@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

a {
  color: #000;
  text-decoration: none;
 }

 body {
     padding: 80px;
 }

 .container {
     max-width: 1200px;
     padding: 0 48px;
     margin: 0 auto;
 }

ul {
  list-style: none;
}

 /* ヘッダー_A */
.header_a {
    color: #fff;
    background: #000;
}
    .header_a.container {
        height: 60px;
        display: flex;
        align-items: center;
    }

/* ロゴ */
.area_nav_header .logo {
    display: block;
}

.area_nav_header .logo img {
    height: 25px;
    vertical-align: bottom;
}

/* ナビゲーション */
.area_nav_header {
    margin-left: auto;
}

/* リストナビ */
.list_nav_header {
    display: flex;
    align-items: center;
}

.list_nav_header > li + li {
    margin-left: 40px;
}

.list_nav_header a {
    color: #fff;
    font-family: 500 15px/1em 'noto sans japanese',sans-serif;
}

.list_nav_header .btn_contact {
   color: #000;
   display: block;
   height: 32px;
   background: #0cf;
}